html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 10px 15%;
  align: center;
  border: 10px solid gray;
  padding: 10px;
}

hr{
  width: 88%;
}

p:nth-of-type(1){
  border-left: 4px solid black;
  padding-left: 20px;

}

.date {
  padding-bottom: 15px;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
