

h1 {
  color: rgba(100, 0, 100, .6);
}

h4 {
  color: rgb(2,60,13);
}

body {
  /*background-image: url("/Users/alinaleuca//Desktop/corgi.jpg");*/
}

#interest_yoga {
  color: #FFA651;
}

.to_do_list {
  text-decoration: line-through;
}

/*div#interests {
  color: pink;
}*/
/*
ul li {
  color: red;
}*/
/*
h1 + form {
  color: yellow;
}*/

li.to_do_list:nth-of-type(even){
  background-color: purple;
}
