p {
  font-family: Frank Ruhl Libre;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  text-align: justify;
  text-decoration: underline;
}

h1 {
  font-family: Georgia;
}
/*
span {
  font-size: 2.0em;
}*/
